@import 'variables';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/SourceSansPro-Light.otf') format('opentype');
}

@mixin standard-text {
  font-size: 18px;
  line-height: 28px;
}

a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: $link-color;

  &:link, &:visited, &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 32px;
  font-weight: normal;
  margin: 28px 0 24px 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 32px 0 24px 0;
}

p {
  @include standard-text;
  margin: 24px 0 24px 0;
}
