/* Colors */

$red:               #A00;
$light-red:         #A44;
$highlight-red:     #E83A3A;
$very-dark-gray:    #333;
$dark-gray:         #555;
$gray:              #999;
$med-light-gray:    #BBBBBB;
$light-gray:        #F0F0F0;
$white:             #FFF;

/* Layout */

$content-width:       600px;
$header-tabs-height:  40px;

$link-color: $red;
