<nav>
  <p>
    Alex Zirbel is a software developer at
    <a href="https://www.opendoor.com/">Opendoor</a>.
    He likes UI design, music, and bouldering.
  </p>

  <div>
    <a href="/">
      <i class="fa fa-home"></i>
      Home
    </a>
  </div>
  <div>
    <a href="https://twitter.com/alexzirbel">
      <i class="fa fa-twitter"></i>
      @alexzirbel
    </a>
  </div>

  <div class="p baseline-spaced">Posts</div>

  {{ range first 10 .Site.Pages }}
    {{ if eq .Type "index" }}
    {{ else }}
      <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
    {{ end }}
  {{ end }}

  <div class="baseline-spaced">
    <a href="/index.xml" type="application/rss+xml">
      <i class="fa fa-rss"></i>
    </a>
  </div>
</nav>
