<nav>
  <h3>Alex Zirbel</h3>
  <p class="small short-bio">
    is a software developer at <a href="https://www.opendoor.com/">Opendoor</a>. He loves UI design, music, and bouldering.
  </p>
  <div class="small">
    <a href="/">
      <i class="fa fa-home"></i>
      Home
    </a>
  </div>
  <div class="small">
    <a href="https://twitter.com/alexzirbel">
      <i class="fa fa-twitter"></i>
      @alexzirbel
    </a>
  </div>

  <h3>Posts</h3>
  {{ range first 10 .Site.Pages }}
    <div class="small"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
  {{ end }}
</nav>
