body
{
	background-color:#faf3df;
  background-image:url('images/luckyeightsbot.png');
  background-repeat:no-repeat;
  background-position:center bottom;
  background-attachment: fixed;
}

p
{
  color:#3d220e;
	font-size:12px;
  font-family:Verdana,Arial,sans-serif;
	text-align:justify;
	line-height:20px;
}

p.link
{
  color:#3d220e;
}

h1
{
  color:#aa0000;
	font-variant:small-caps;
	width:490;
	font-size:18px;
  font-family:Verdana,Arial,sans-serif;
	text-align:left;
}

ul
{
	list-style-type: none;
}

a:link
{
  color:#3d220e;
	text-decoration:underline;
}
a:visited
{
  color:#3d220e;
	text-decoration:underline;
}
a:hover
{
  color:#3d220e;
	text-decoration:none;
}
a:active
{
}
html
{
    overflow-y: scroll;
}

