body
{
/*	background-color:#f3ecd8;*/
	background-color:#faf3df;
    background-image:url('images/luckyeightsbot.png');
    background-repeat:no-repeat;
    background-position:center bottom;
    background-attachment: fixed;
}

p
{
	color:#947d38;
	font-size:12px;
	font-family:"Sans";
	text-align:justify;
	line-height:18px;
}

p.link
{
	color:#947d38;
}

h1
{
	color:#947d38;
	font-variant:small-caps;
	width:490;
	font-size:18px;
	font-family:"Sans";
	text-align:left;
}

ul
{
	list-style-type: none;
}

a:link
{
	color:#947d38;
	text-decoration:underline;
}
a:visited
{
	color:#947d38;
	text-decoration:underline;

}
a:hover
{
	color:#947d38;
	text-decoration:none;
}
a:active
{
}
html
{
    overflow-y: scroll;
}
