main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;

  .logo {
    text-align: center;
  }

  nav {
    ul {
      padding: 0;
      display: flex;
      justify-content: space-between;

      list-style-type: none;
    }
  }
}

footer {
  margin-top: 40px;
  text-align: center;
}
