@font-face {
  font-family: 'Lora';
  src: url(/fonts/Lora-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Lora';
  src: url(/fonts/Lora-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: bold;
}
