@import 'variables';
@import 'typography';

// I want the page to be gray so that when it "bounces" after a scroll to the
// top in e.g. mobile browsers, the background color is light gray.
body {
  background-color: $white;
}

.main-container {
  display: flex;

  @include mobile {
    flex-direction: row-reverse;

    height: 100vh;

    overflow-x: scroll;
    scroll-snap-type: mandatory;

    & > * {
      scroll-snap-coordinate: 0 0;
      scroll-snap-coordinate: 0 0;
    }
  }

  @include desktop {
    max-width: $desktop-max-width;
    margin: auto;
  }
}

.article-container {
  @include mobile {
    flex: 0 0 100vw;

    overflow-y: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @include desktop {
    width: ($desktop-article-min-width / $desktop-min-width) * 100%;
    min-width: $desktop-article-min-width;
    max-width: $desktop-article-max-width;
  }
}

article {
  padding: 0 20px 80px;
}

.article-footer {
  background-color: $light-gray;
  padding: 20px;
}

nav {
  padding: 0 20px;

  @include mobile {
    flex: 0 0 $mobile-nav-width;

    overflow-y: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    background-color: $light-gray;

    padding-top: $mobile-header-height;
  }

  @include desktop {
    width: ($desktop-nav-min-width / $desktop-min-width) * 100%;
    min-width: $desktop-nav-min-width;
    max-width: $desktop-nav-max-width;
    padding-left: 50px;
  }
}

.desktop-title {
  @include desktop {
    height: $baseline * 10;
    margin-bottom: $baseline * 2;
    display: flex;
    align-items: flex-end;
  }
}

.article-title {
  @extend .desktop-title;
  @extend .h1;

  @include mobile {
    margin-top: $baseline * 2;
    margin-bottom: $baseline * 1.5;
  }
}

.sidebar-title {
  @extend .desktop-title;
}

header.mobile-only {
  background-color: $light-gray;
  height: $mobile-header-height;

  @include desktop {
    display: none;
  }
}

.mobile-only {
  @include desktop {
    display: none;
  }
}

.desktop-only {
  @include mobile {
    display: none;
  }
}
