@import 'variables';

$mobile-header-height: 40px;

html, body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// I want the page to be gray so that when it "bounces" after a scroll to the
// top in e.g. mobile browsers, the background color is light gray.
body {
  background-color: $light-gray;
}

.main-container {
  background-color: $white;
}

main {
  display: flex;
  overflow: scroll;

  background-color: $white;

  max-width: 900px;
  margin: auto;

  @include mobile {
    flex-direction: row-reverse;
  }
}

.content {
  width: 700px;
  min-height: 100vh;

  @include mobile {
    flex: 0 0 100vw;
  }

  @include desktop {
    flex: 1;
    padding-top: 40px;
  }
}

article {
  padding: 0 20px;
}

nav {
  @include mobile {
    flex: 0 0 70vw;

    background-color: $light-gray;
  }

  @include desktop {
    flex: 0 0 30%;
    padding-top: 100px; // eyeballed
  }
}

header.mobile-only {
  position: relative;

  background-color: $light-gray;
  height: $mobile-header-height;

  // To align a logo or title in the center
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-btn {
    position: absolute;
    left: 0;
    top: 0;

    width: $mobile-header-height;
    height: $mobile-header-height;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: none;
  }
}
