@import 'variables';

// I want the page to be gray so that when it "bounces" after a scroll to the
// top in e.g. mobile browsers, the background color is light gray.
body {
  background-color: $white;
}

.main-container {
  display: flex;

  @include mobile {
    flex-direction: row-reverse;

    height: 100vh;

    overflow-x: scroll;
    scroll-snap-type: mandatory;

    & > * {
      scroll-snap-coordinate: 0 0;
      scroll-snap-coordinate: 0 0;
    }
  }

  @include desktop {
    max-width: $desktop-max-width;
    margin: auto;
  }
}

.article-container {
  @include mobile {
    flex: 0 0 100vw;

    overflow-y: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @include desktop {
    flex: 1 0 $desktop-article-min-width;
    max-width: $desktop-article-max-width;
  }
}

article {
  padding: 0 20px;
}

nav {
  padding: 0 20px;

  @include mobile {
    flex: 0 0 $mobile-nav-width;

    overflow-y: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    background-color: $light-gray;

    padding-top: $mobile-header-height;
  }

  @include desktop {
    flex: 1 0 $desktop-nav-min-width;
    max-width: $desktop-nav-max-width;
    // eyeballed so that the baseline lines up with page title
    padding-top: 42px;
    padding-left: 50px;
  }
}

header.mobile-only {
  background-color: $light-gray;
  height: $mobile-header-height;

  @include desktop {
    display: none;
  }
}
