@import 'variables';

// Styles for the interior of the mobile header.
// Layout should be done in layout.scss.
header.mobile-only {
  position: relative;

  @include mobile {
    // To align a logo or title in the center
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile-header-menu-btn {
  position: absolute;
  left: 0;
  top: 0;

  width: $mobile-header-height;
  height: $mobile-header-height;

  display: flex;
  align-items: center;
  justify-content: center;

  // Faster touch handling (remove 300ms delay).
  // See https://gist.github.com/gajus/bbf06ea2e37047b01e70
  // TODO(azirbel): Duplicated with style.scss; not sure it's working.
  touch-action: manipulation;

  cursor: pointer;
}
