@import 'variables';

@import 'fonts';
@import 'typography';

@import 'layout';
@import 'mobile-header';

// Normalize and set up the basics. Could be a separate file.

html, body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  // Faster touch handling (remove 300ms delay).
  // See https://gist.github.com/gajus/bbf06ea2e37047b01e70
  touch-action: manipulation;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// Temporary logo
img.temp-logo {
  display: block;
  width: 30px;
  height: 30px;
}
