@import 'variables';

@import 'fonts';
@import 'typography';

@import 'images';
@import 'layout';
@import 'mobile-header';

// Normalize and set up the basics. Could be a separate file.

html, body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  // Faster touch handling (remove 300ms delay).
  // See https://gist.github.com/gajus/bbf06ea2e37047b01e70
  // TODO(azirbel): Not sure if this is working
  touch-action: manipulation;
}

ul, ol {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

// Temporary logo
img.temp-logo {
  display: block;
  width: 30px;
  height: 30px;
}

code, pre {
  background-color: $light-gray !important; // Need to override highlight.js

  padding: 4px 6px;

  border-radius: $border-radius;
}

pre {
  width: 100%;
  overflow-x: scroll;
}

img {
  display: block;
  width: 100%;
}

img.rounded {
  border-radius: $border-radius;
}

.footnotes {
  li {
    margin-top: 24px;
  }
}

.sidebar-item {
  font-size: 14px;
}

sup.footnote-ref {
  position: absolute;
  margin-top: -6px;
}
