@import 'variables';

// Baseline unit to help keep the font consistent.
// Not intended as an actual baseline in the verticl-rhythm sense.
// Just a variable to try to keep the font sizing and margins internally
// consistent and not adjusted by 1-2px on a whim.
$baseline: 18px;

body {
  font-family: $body-font-family;
  font-size: $baseline;
  line-height: 30px;
  color: $black;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  margin-bottom: $baseline;
}

.p, span, div {
  &.small {
    font-size: 14px;
    line-height: 26px;
  }

  &.baseline-spaced {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
}

.h1 {
  font-weight: $bold-weight;
  font-size: 40px;
  line-height: $baseline * 3;
}

.h2 {
  font-weight: $normal-weight;
  font-size: 28px;
}

.h3 {
  font-weight: $normal-weight;
  font-size: 22px;
}

.a {
  color: $red;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $red;
  }
}

h1 {
  @extend .h1;

  margin-top: $baseline * 2;
  margin-bottom: $baseline;
}

h2 {
  @extend .h2;

  margin-top: $baseline * 2;
  margin-bottom: $baseline;
}

h3 {
  @extend .h3;

  margin-top: $baseline;
  margin-bottom: $baseline;
}

h4 {
  @extend .h4;

  margin-top: $baseline;
  margin-bottom: $baseline;
}

h5 {
  @extend .h5;

  margin-top: $baseline;
  margin-bottom: $baseline;
}

h6 {
  @extend .h6;

  margin-top: $baseline;
  margin-bottom: $baseline;
}

p {
  @extend .p;

  margin-top: 0;
  margin-bottom: $baseline;
}

a {
  @extend .a;
}
