@import 'variables';

$lineheight: 18px;

body {
  font-family: $body-font-family;
  font-size: $lineheight;
  line-height: 30px;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

p, span, div {
  &.small {
    font-size: 14px;
  }
}

p {
  margin-top: $lineheight;
  margin-bottom: $lineheight;
}

h1 {
  font-weight: $bold-weight;
  font-size: 40px;
  line-height: $lineheight * 3;

  margin-top: $lineheight * 2;
  margin-bottom: $lineheight;
}

h2 {
  font-weight: $normal-weight;
  font-size: 28px;

  margin-top: $lineheight * 2;
  margin-bottom: $lineheight;
}

a {
  color: $red;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $red;
  }
}
