@import 'variables';

// Baseline unit to help keep the font consistent.
// Doesn't necessarily need to be strictly adhered to in the vertical-rhythm
// sense, but should be used where convenient to keep the spacing consistent.
$baseline: 16px;

body {
  font-family: $body-font-family;
  font-size: 18px;
  line-height: $baseline * 2;
  color: $black;

  &.show-baselines {
    // Add a baseline
    // TODO(azirbel): Enable this via a queryparam flag
    background: linear-gradient(
      to bottom,
      #ffffff,
      #ffffff 50%,
      #eeeeee 50%,
      #eeeeee
    ) !important;

    background-size: 100% ($baseline * 2) !important;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
}

.p, span, div {
  &.small {
    font-size: 14px;
    line-height: $baseline * 1.5;
  }

  // TODO(azirbel): Rename to "spaced"
  &.baseline-spaced {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
}

.h1 {
  font-size: 48px;
  font-weight: $bold-weight;
  line-height: $baseline * 3.5;
}

.h2 {
  font-size: 32px;
  font-weight: $semibold-weight;
  line-height: $baseline * 2.5;
}

.h3 {
  font-size: 22px;
  font-weight: $normal-weight;
}

.a {
  color: $red;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $red;
  }
}

h1 {
  @extend .h1;

  margin-top: $baseline * 3;
  margin-bottom: $baseline * 1.5;
}

h2 {
  @extend .h2;

  margin-top: $baseline * 3;
  margin-bottom: $baseline * 1.5;
}

h3 {
  @extend .h3;

  margin-top: $baseline;
  margin-bottom: $baseline * 1.5;
}

p {
  @extend .p;

  margin-top: 0;
  margin-bottom: $baseline * 1.5;
}

a {
  @extend .a;
}

code, pre {
  font-size: 16px;
  line-height: 22px;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  font-style: italic;
  border-left: 5px solid $light-gray;
}

table {
  border-collapse: collapse;
  border: 1px solid $medium-gray;
  margin-bottom: $baseline * 1.5;
}

th, td {
  text-align: left;
  padding: 2px 10px;
}

th {
  border-bottom: 1px solid $medium-gray;
}

tr:nth-child(odd) td {
  background-color: $light-gray;
}

.data-table + table {
  font-family: monospace;
  font-size: 16px;
  min-width: 100%;
}
