// SASS helpers (could go in a separate file)

@mixin mobile {
  @media (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

// Desktop layout

$desktop-article-min-width: 500px;
$desktop-nav-min-width: 280px;

$desktop-article-max-width: 600px;
$desktop-nav-max-width: 330px;

$desktop-min-width: $desktop-article-min-width + $desktop-nav-min-width;
$desktop-max-width: $desktop-article-max-width + $desktop-nav-max-width;

// Mobile layout

$mobile-header-height: 40px;

$mobile-nav-width: 80vw;
$mobile-nav-toggle-width: 100vw - $mobile-nav-width;

// Brand variables

$red: #aa0000;

$black: #444;
$light-gray: #eeeeee;
$white: #ffffff;

$body-font-family: Lora, serif;
$header-font-family: 'Open Sans', Verdana;

$bold-weight: 600;
$normal-weight: 400;
