.opacity-slow-enter {
  opacity: 0;
}
.opacity-slow-enter-active {
  opacity: 1;
  transition: all var(--transitionTimingSlow);
}
.opacity-slow-exit {
  opacity: 1;
}
.opacity-slow-exit-active {
  opacity: 0;
  transition: all var(--transitionTimingSlow);
}

.opacity-slow-in-enter {
  opacity: 0;
}
.opacity-slow-in-enter-active {
  opacity: 1;
  transition: all var(--transitionTimingSlow);
}
.opacity-slow-in-exit {
  opacity: 0;
}
.opacity-slow-in-exit-active {
  opacity: 0;
}
