.slide-forward-enter {
  transform: translateX(20px);
  opacity: 0;
}
.slide-forward-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateX(0);
}
.slide-forward-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-forward-exit-active {
  opacity: 0;
  transition: all 200ms;
  transform: translateX(-20px);
}
