{{ partial "header.html" . }}

<div class="article-container">
  {{ partial "mobile-header.html" . }}

  <article>
    <div class="article-title">{{ .Title }}</div>
    {{ .Content }}

    <br>
    <p><em>Posted on {{ .Date.Format "January 2, 2006" }}</em></p>

    <div class="article-footer">
      <p>
        Hi! I'm Alex, a software developer at <a
          href="https://www.opendoor.com/">Opendoor</a>. I like UI design,
        music, and bouldering.
      </p>
      Follow me on twitter (
      <a href="https://twitter.com/alexzirbel">
        @alexzirbel
      </a>) for more stories!
    </div>
  </article>
</div>

{{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
