{{ partial "header.html" . }}

<div class="article-container">
  {{ partial "mobile-header.html" . }}

  <article>
    <div class="article-title">{{ .Title }}</div>
    {{ .Content }}

    {{ if eq (relURL .URL) ("/" | safeHTML) }}
    {{else}}
      <br>
      <p><em>Posted on {{ .Date.Format "January 2, 2006" }}</em></p>

      <div class="article-footer">
        <p>
          Hi, I'm Alex. I'm an independent software developer based in
          <br class="desktop-only"/> San Francisco. Previously, I worked at
          <a href="https://www.opendoor.com/">Opendoor</a> and
          <a href="https://addepar.com/">Addepar</a>.
        </p>
        Follow me on twitter (
        <a href="https://twitter.com/alexzirbel">
          @alexzirbel
        </a>) for more stories!
      </div>
    {{ end }}
  </article>
</div>

{{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
