@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Inter-Regular.woff2) format('woff2'),
    url(/static/fonts/Inter-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/Inter-Italic.woff2) format('woff2'),
    url(/static/fonts/Inter-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(/static/fonts/Inter-Medium.woff2) format('woff2'),
    url(/static/fonts/Inter-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url(/static/fonts/Inter-MediumItalic.woff2) format('woff2'),
    url(/static/fonts/Inter-MediumItalic.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(/static/fonts/Inter-SemiBold.woff2) format('woff2'),
    url(/static/fonts/Inter-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url(/static/fonts/Inter-SemiBoldItalic.woff2) format('woff2'),
    url(/static/fonts/Inter-SemiBoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/Inter-Bold.woff2) format('woff2'),
    url(/static/fonts/Inter-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url(/static/fonts/Inter-BoldItalic.woff2) format('woff2'),
    url(/static/fonts/Inter-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url(/static/fonts/Inter-ExtraBold.woff2) format('woff2'),
    url(/static/fonts/Inter-ExtraBold.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: url(/static/fonts/Inter-ExtraBoldItalic.woff2) format('woff2'),
    url(/static/fonts/Inter-ExtraBoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(/static/fonts/Inter-Black.woff2) format('woff2'),
    url(/static/fonts/Inter-Black.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url(/static/fonts/Inter-BlackItalic.woff2) format('woff2'),
    url(/static/fonts/Inter-BlackItalic.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/SourceSansPro-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/SourceSansPro-It.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/SourceSansPro-Semibold.otf) format('opentype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url(/static/fonts/SourceSansPro-SemiboldIt.otf) format('opentype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/SourceCodePro-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/SourceCodePro-It.otf) format('opentype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/SourceCodePro-Semibold.otf) format('opentype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url(/static/fonts/SourceCodePro-SemiboldIt.otf) format('opentype');
}
