<h1>Hi, I'm Alex.</h1>

<p>
  I'm a software engineer at
  <a href="http://www.addepar.com/">Addepar</a>, working on web development with
  <a href="http://emberjs.com/">Ember.js</a>. Before that, I studied robotics
  at Carnegie Mellon. I'm a huge fan of open source, Ember, and robotics.
</p>
<p>
  I'm <a href="http://github.com/azirbel">azirbel</a>
  on GitHub and <a href="http://twitter.com/alexzirbel">@alexzirbel</a>
  on Twitter. You can also reach me via email at
  <a href="mailto:alexzirbel@gmail.com">alexzirbel@gmail.com</a>.
</p>

<h2>Resume</h2>
<p>
  Available <a href="assets/docs/resume.pdf">here</a>.
</p>

<h2>Interests and Hobbies</h2>
<p>
  I like music a lot. My last.fm profile is
  <a href="http://www.last.fm/user/luckyeights">here</a>.
</p>
<p>
  I also enjoy rock climbing, hiking, and ultimate frisbee. I'd like to
  spend more time traveling some day. I like learning languages. I'm very
  interested in design and typography.
</p>
