<main>
  <header>
    <div class="title">
      Alex Zirbel
    </div>
    <div class="header-tabs">
      <ul class="navigation">
        <li>{{link-to "About" "about"}}</li>
        <li>{{link-to "Projects" "projects"}}</li>
        <li>{{link-to "Talks" "talks"}}</li>
      </ul>
    </div>
  </header>

  <div>
    {{outlet}}
  </div>
</main>
