<h2>
  Goodwill
  <a href="http://azirbel.github.com/goodwill">github.com/goodwill</a>
</h2>
<p>
  Goodwill is a little tool that measures how much you give and take when it
  comes to code review. It answers the question: "do I review as much code
  for other people as they review for me?"
</p>

<h2>
  Minipar
  <a href="http://github.com/azirbel/minipar">github.com/azirbel/minipar</a>
</h2>
<p>
  A showcase of Addepar's open source Ember libraries (Ember Table, Ember
  Charts, and Ember Widgets). It's intended to be a minimal amount of code that
  illustrates the use of each library and their interaction.
</p>
<p>
  It's not hosted right now, but you can easily get it running with the
  "Installation" and "Running" instructions in the README.
</p>

<h2>Other Projects</h2>
<p>
  Projects from before 2014 aren't listed here yet; I need to take some time to
  write them up and post the code online. For now, here's some images from them.
</p>
<img class="project" alt="Quadrotor" src="images/project_quadrotor.png">
<img class="project" alt="Colony" src="images/project_colony.png">
<img class="project" alt="Personal Robotics" src="images/project_herb.png">
<img class="project" alt="Simple Hands" src="images/project_simplehands.png">
<img class="project" alt="Light-up Jacket" src="images/project_jacket.png">
<img class="project" alt="Firesticks" src="images/project_firesticks.png">
<img class="project" alt="Mapkin" src="images/project_mapkin.png">
<img class="project" alt="Rice Robot" src="images/project_ricerobot.png">
