<h2>Developing UI Components with Ember</h2>
<p>
  <a href="https://youtu.be/XCAxSsCMPEY">Talk on YouTube</a>
  <br/>
  <a href="http://slides.com/azirbel/addepar-components">Slides</a>
</p>
<p>
  API design of components in Ember, using open-source components at Addepar as
  a case study.
</p>
<p>
  Talk at the <a
  href="http://www.meetup.com/Silicon-Valley-EmberJS-Meetup/events/219810644/">
    Silicon Valley Ember Meetup</a>, 28 January 2015.
</p>

<h2>Building an Ember Addon</h2>
<p>
  <a href="https://youtu.be/g85K0V9YbLo">Talk on YouTube</a>
  <br/>
  <a href="http://slides.com/azirbel/ember-addons">Slides</a>
</p>
<p>
  A review of how to build a component addon in Ember CLI. There are two parts:
  an introduction to Ember Addons, and a look at the migration process for an
  existing library (Addepar's Ember Table).
</p>
<p>
  Talk at the <a
  href="http://www.meetup.com/Ember-SF/events/219261685/">
    San Francisco Ember Meetup</a>, 13 January 2015.
</p>
